.title2>dd{
	margin-bottom: 4px;
}

.video_img1{
	width: 100%;
	height: 311px;
	display: inline-block;
	vertical-align: middle;
	background: url("../img/video/1.png");
	background-size: 888px 311px;
	margin-bottom: 30px;
}
.video_img2{
	width: 100%;
	height: 399px;
	display: inline-block;
	vertical-align: middle;
	background: url("../img/video/2.png");
	background-size: 888px 399px;
	margin-bottom: 30px;
}